<section class="my-course">
    <div class="container">
        <div class="my-course-wrapper">
            <div class="row">
                <div class="col-4">
                    <div class="video">
                        <video src="../img/intro.webm" controls muted loop preload="metadata"></video>
                    </div>
                </div>
                <div class="col-8 ">
                    <div class="course-discribe">
                        <p>
                            Поиск работы. Как найти нужную вакансию и успешно пройти отбор?
                        </p>
                        <p>
                            Набор полезных инструментов, который пригодится, если Вы находитесь в поиске работы или сомневаетесь, что нынешняя работа Вам подходит.
                        </p>
                    </div>
                    <div class="author">
                        <div class="author-avatar">
                            <img src="../img/avatar.jpg" alt="">
                        </div>
                        <div class="author-name">
                            Наталья Дворецкая
                        </div>
                        <div class="author-status">
                            Преподаватель Courson
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-6">
                            <div class="circle"></div>
                            <p>
                                75% пройдено
                            </p>
                        </div>
                        <div class="col-6">
                            <p class="title">
                                Объем курса
                            </p>
                            <div class="modules_num">
                                <div class="modules-icon">
                                    <img src="../img/modules_num.svg" alt="">
                                </div>
                                <div class="modules-msg">
                                    24 часа
                                </div>
                            </div>
                            <div class="modules_timer">
                                <div class="modules-icon">
                                    <img src="../img/modules_timre.svg" alt="">
                                </div>
                                <div class="modules-timer">
                                    24 часа
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <p class="title">
                                Вид итогового экзамена
                            </p>
                            <div class="icon-holder">
                                <div class="icon-wrapper">
                                    <div class="icon">
                                        <img src="../img/icon_test.svg" alt="">
                                    </div>
                                    <p class="text">
                                        итоговый тест
                                    </p>
                                </div>
                                <div class="icon-wrapper">
                                    <div class="icon">
                                        <img src="../img/icon_test.svg" alt="">
                                    </div>
                                    <p class="text">
                                        итоговый тест
                                    </p>
                                </div>
                                
                            </div>
                        </div>
    
                    <div class="col-6">
                        <p class="title">
                            Вид итогового экзамена
                        </p>
                        <div class="icon-holder">
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <img src="../img/icon_test.svg" alt="">
                                </div>
                                <p class="text">
                                    итоговый тест
                                </p>
                            </div>
                            <div class="icon-wrapper">
                                <div class="icon">
                                    <img src="../img/icon_test.svg" alt="">
                                </div>
                                <p class="text">
                                    итоговый тест
                                </p>
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p>
                        срок обучения группы с 20.04.2019 по 15.08.2019
                    </p>
                    <p>
                        курс станет доступен с 15.04.2019
                    </p>
                </div>
                <div class="col-4">
                    <button>Начать</button>
                </div>
            </div>
        </div>
    </div>
</section>