<div class="banner">
    <div class="banner-wrapper"></div>
    <div class="banner-icons">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            <img src="../img/icon_time.svg" alt="">
                        </div>
                        <div class="col-8">
                            <p>
                                Учитесь в удобное для Вас время
                            </p>
                            <p>
                                все курсы доступны 24/7
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-3">
                            <img src="../img/icon_chat.svg" alt="">
                        </div>
                        <div class="col-8">
                            <p>
                                Учитесь в удобное для Вас время
                            </p>
                            <p>
                                все курсы доступны 24/7
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>