<section class="title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Мои курсы</h2>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="courses-tab">
                <div>
                    <button>
                            Корпоративные курсы
                    </button>
                </div>
            </div>            
        </div>
        <div class="col-4">
            <div>
                <button>
                    Личные курсы
                </button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">

    </div>
</section>